//Using the new CSS variables

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --darkgrayish-blue: hsl(236, 13%, 42%);
    --verydark-blue: hsl(240, 100%, 5%);

}
